.selectable {
  cursor: pointer;
}

label {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 9px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
