<form (submit)="submit($event)" [formGroup]="form">
  <mat-form-field appearance="legacy">
    <mat-label>Username</mat-label>
    <input matInput type="text" placeholder="" formControlName="username" required>
    <mat-error *ngIf="username.invalid">{{getUsernameErrorMessage()}}</mat-error>
    <mat-icon matPrefix>person</mat-icon>
  </mat-form-field>
  <mat-form-field appearance="legacy">
    <mat-label>Email</mat-label>
    <input matInput type="email" placeholder="" formControlName="email" required>
    <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
    <mat-icon matPrefix>email</mat-icon>
  </mat-form-field>
  <mat-form-field appearance="legacy">
    <mat-label>Password</mat-label>
    <input matInput type="password" placeholder="" formControlName="password" required>
    <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
    <mat-icon matPrefix>lock</mat-icon>
  </mat-form-field>
  <mat-form-field appearance="legacy">
    <mat-label>Confirm Password</mat-label>
    <input matInput type="password" placeholder="" formControlName="confirmPassword" required>
    <mat-error *ngIf="confirmPassword.invalid">{{getConfirmPasswordErrorMessage()}}</mat-error>
    <mat-icon matPrefix>lock</mat-icon>
  </mat-form-field>
  <mat-error *ngIf="form.invalid">{{getFormErrorMessage()}}</mat-error>
  <button mat-raised-button color="primary" >Sign Up</button>
</form>
<div class="links">
  <div class="sign-in">Вже є акаунт? <a routerLink="/guest/sign-in">Sign In</a></div>
</div>
