@import '~@angular/material/theming';
@import "~@angular/../../src/variables";

.toolbar-spacer {
  flex: 1 1 auto;
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


.nav-toolbar {
  z-index: 2;
}

.logo {
  margin-left: 8px;
}

.main-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

mat-sidenav-content[role="main"]{
  display: flex;

  .content-card {
    margin: auto;
    min-width: 60vw;
    max-width: 80vw;
    margin-top: 10vh;
  }
}
