<app-content-header header="Search lost" [navItems]="navItems"></app-content-header>
<mat-divider></mat-divider>
<mat-form-field appearance="legacy">
  <input #name [value]="thingName" placeholder="Name" matInput>
</mat-form-field>
<mat-form-field appearance="legacy">
  <input placeholder="Address" matInput appGooglePlaces (addressChanged)="handleAddressChange($event)">
</mat-form-field>
<button mat-raised-button color="primary" (click)="search($event)">Search</button>
<agm-map #map [latitude]="lat" [longitude]="lng">
  <agm-circle
    #mapCircle
    [latitude]="lat"
    [longitude]="lng"
    [radius]="radius"
    [editable]="true"
    [circleDraggable]="true"
    (centerChange)="handleMapCircleCenterChange($event)"
    (radiusChange)="handleMapCircleRadiusChange($event)"
  ></agm-circle>
</agm-map>
<div *ngFor="let thing of things">
  <app-thing [thing]="thing"></app-thing>
</div>
