@import '~@angular/material/theming';
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$lostit-primary: mat-palette($mat-indigo);
$lostit-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$lostit-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$lostit-theme: mat-light-theme($lostit-primary, $lostit-accent, $lostit-warn);
